@model HttpPostedFileBase
@{
    ViewBag.Title = "CreateGrid";
}

<h2>CreateGrid</h2>

@ViewBag.Message
@using (Html.BeginForm("CreateGrid", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" />
}

