
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <input name="inputs" type="text" placeholder="Name" />
    <input name="inputs" type="text" placeholder="Email" />
    <input name="inputs" type="text" placeholder="Address" />
    <input name="inputs" type="text" placeholder="City" />
    <input name="inputs" type="text" placeholder="State" />
    <input name="inputs" type="text" placeholder="Zip" />
    <input name="inputs" type="text" placeholder="Country" />
    <input name="inputs" type="text" placeholder="County" />
    <input name="inputs" type="text" placeholder="Phone" />
    <input name="inputs" type="text" placeholder="StartDate" />
    <input name="inputs" type="text" placeholder="EmergencyContactName" />
    <input name="inputs" type="text" placeholder="EmergencyContactNumber" />
    <input name="inputs" type="text" placeholder="Initials1" />
    <input name="inputs" type="text" placeholder="BirthDate" />
    <input name="inputs" type="text" placeholder="Gender" />
    <input name="inputs" type="text" placeholder="Veteran" />
    <input name="inputs" type="text" placeholder="Disabilities" />
    <input name="inputs" type="text" placeholder="Race" />
    <input name="inputs" type="text" placeholder="LastHighSchool" />
    <input name="inputs" type="text" placeholder="HighSchoolGraduate" />
    <input name="inputs" type="text" placeholder="GraduateYear" />
    <input name="inputs" type="text" placeholder="GED" />
    <input name="inputs" type="text" placeholder="GEDYear" />
    <input name="inputs" type="text" placeholder="Initials2" />
    <input type="submit" />
}