
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Print", "Home", FormMethod.Get))
{
    <input name="inputs" type="text" placeholder="Name" />
    <input name="inputs" type="text" placeholder="Email" />
    <input name="inputs" type="text" placeholder="Address" />
    <input name="inputs" type="text" placeholder="City" />
    <input name="inputs" type="text" placeholder="State" />
    <input name="inputs" type="text" placeholder="Zip" />
    <input name="inputs" type="text" placeholder="Country" />
    <input name="inputs" type="text" placeholder="County" />
    <input name="inputs" type="text" placeholder="Phone" />
    <input name="inputs" type="text" placeholder="StartDate" />
    <input name="inputs" type="text" placeholder="EmergencyContactName" />
    <input name="inputs" type="text" placeholder="EmergencyContactNumber" />
    <input name="inputs" type="text" placeholder="Initials1" />
    <input name="inputs" type="text" placeholder="BirthDate" />
    <input name="inputs" type="text" placeholder="Gender" />
    <input name="inputs" type="text" placeholder="Veteran" />
    <input name="inputs" type="text" placeholder="Disabilities" />
    <input name="inputs" type="text" placeholder="Race" />
    <input name="inputs" type="text" placeholder="LastHighSchool" />
    <input name="inputs" type="text" placeholder="HighSchoolGraduate" />
    <input name="inputs" type="text" placeholder="GraduateYear" />
    <input name="inputs" type="text" placeholder="GED" />
    <input name="inputs" type="text" placeholder="GEDYear" />
    <input name="inputs" type="text" placeholder="Initials2" />
    <input name="inputs" type="text" placeholder="Initials3" />
    <input name="inputs" type="text" placeholder="Initials4" />
    <input name="inputs" type="text" placeholder="Initials5" />
    <input name="inputs" type="text" placeholder="Initials6" />
    <input name="inputs" type="text" placeholder="Initials7" />
    <input name="inputs" type="text" placeholder="Initials8" />
    <input name="inputs" type="text" placeholder="Initials9" />
    <input name="inputs" type="text" placeholder="Initials10" />
    <ul>
        <li><input type="radio" name="inputs" value="male" checked> Male</li>
        
        <li><input type="radio" name="inputs" value="female"> Female</li>
        
        <li><input type="radio" name="inputs" value="other"></li>
    </ul>
    <input name="inputs" type="text" placeholder="Initials11" />
    <input name="inputs" type="text" placeholder="Initials12" />
    <input name="inputs" type="text" placeholder="Initials13" />
    <input name="inputs" type="text" placeholder="Initials14" />
    <input name="inputs" type="text" placeholder="Initials15" />
    <input name="inputs" type="text" placeholder="StudentPrintedName16" />
    <input name="inputs" type="text" placeholder="StudentSignature16" />
    <input name="inputs" type="text" placeholder="StudentDate16" />
    <input name="inputs" type="text" placeholder="Initials16" />
    <input name="inputs" type="text" placeholder="StudentPrintedName17" />
    <input name="inputs" type="text" placeholder="StudentSignature17" />
    <input name="inputs" type="text" placeholder="StudentDate17" />
    <input name="inputs" type="text" placeholder="Initials17" />
    <input type="submit" />
}